/* Font styles */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* color palette */

:root {
  --black: #0a0a0a;
  --raisinBlack: #1a1d29;
  --gunmetal: #2d3143;
  --slateGray: #6e83a0;
  --frenchGray: #acabb5;
  --white: #f3f3f3;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--frenchGray);
    --app-background: var(--raisinBlack);
    --button-background: var(--black);
    --button-text-color: var(--frenchGray);
    --rw-background: var(--gunmetal);
    --rw-header-background: var(--raisinBlack);
    --playAudioIcon: var(--frenchGray);
    --moeItemBg: var(--black);
  }
  body {
    background: var(--app-background);
    color: var(--color-text);
  }
  input[type="text"],
  textarea {
    background-color: var(--gunmetal);
    color: var(--white);
  }
  button {
    background-color: var(--button-background);
    color: var(--button-text-color);
  }
  .edit-dialog {
    background-color: var(--raisinBlack);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--app-background);
  line-height: 1.6;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
input[type="text"] {
  font-size: 1.5rem;
  border-radius: 0;
  &::placeholder {
    color: var(--slateGray);
  }
  &:focus {
    outline: none;
    background-color: var(--gunmetal);
  }
}
button {
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}

.icon-button {
  cursor: pointer;
  /* background-color: var(--black); */
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* edit word button */
.edit-word {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  border: none;
}

/* different language fonts */
.alphabetic {
  font-family: "Helvetica Neue", sans-serif;
}
.logographic {
  font-family: "Noto Sans", sans-serif;
}

/* global pinyin and zhuyin font styles */
.pinyin,
.zhuyin {
  /* white-space: nowrap; */
}
.pinyin-zhuyin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Prevent the text from wrapping */
  border: 0;
}
