@import "./base.css";

header {
  display: flex;
  gap: 1rem;
}

input,
textarea {
  font-size: 1rem; /* Set font size to 16px or larger */
}
button {
  padding: 0 1rem;
  font-size: 1rem;
  border-radius: 2px;
  border: none;
}
/* main search */
#main-search-container {
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  gap: 0.5rem;
}
#main-search {
  width: 100%;
  height: 48px;
  padding: 0 1rem;
  border: 1px solid white;
  border-radius: 2px;
}
.results {
  padding: 2rem;
}
.entry {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 2px;
  margin: 1rem 0;
  list-style-type: none;
  padding: 1rem;
}
.uploader {
  padding: 2rem;
}

.index {
  font-size:1.5rem;
  font-weight: 600;
  margin-right: 20px;
  float:left;
}
.english-entry,
.chinese-entry,
.taigi-entry {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;

}
.english-entry {
  border-left: 5px solid blue;
}
.chinese-entry {
  border-left: 5px solid red;
}
.taigi-entry {
  border-left: 5px solid green;
}
.entry-definition {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.play-audio {
  cursor: pointer;
  flex-shrink: 0;
}
