@import "./base.css";


header {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* 

main search 

*/
#main-search-container {

}
#main-search {

}
#exact_search {
  display: block;
  padding: 1rem 2rem;
  input {
    margin-right: 1rem;
  }
}

/* 

results

*/
.result-count {
  /* padding: 0 2rem; */
  list-style-type: none;
}
.results {
  padding: 2rem;
}

/* 

entries 

*/

.entry {
  border-radius: 2px;
  margin: 1rem 0;
  list-style-type: none;
  padding: 1rem;
}
.entry-items {
  display: flex;
}
.entry-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.english-entry {
  border-left: 5px solid rgb(55, 114, 216);
}
.chinese-entry {
  border-left: 5px solid rgb(216, 100, 58);
  font-family: "Heiti TC";
  font-weight: medium;
}
.taigi-entry {
  border-left: 5px solid rgb(46, 150, 25);
}
.entry-definition {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.play-audio {
  cursor: pointer;
  flex-shrink: 0;
}

/* definitions */
.definitions {
  /* background: var(--content-bg); */
  margin: 1rem 0 0 0;
  ol {
    list-style-position: inside;
    padding: .5rem;
  }
}

/* uploader (hidden) */

.uploader {
  padding: 2rem;
}
