@import "./base.css";

.entry {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  margin: 1rem 0;
  list-style-type: none;
  padding: 1rem;
}
.audio {
  background-color: black;
}
.results {
  padding: 0;
  margin: 0;
}
input,
textarea {
  font-size: 16px; /* Set font size to 16px or larger */
}
/* main search */
#main-search-container {
  width: 100vw;
  padding: 0 2rem;
  display: flex;
}
#main-search {
  width: 100%;
  height: 48px;
  padding: 0 1rem;
}
.results {
  padding: 2rem;
}
.uploader {
  padding: 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}
